:root{
    --txt-clr: grey;
    --txt-clr2: red;
    --bg-clr: yellow;
    --border: 2px solid red;
    --txt-font: "verdana";
    --box-shadow: 3px 3px 5px #4f1d1dff;


    /* btn vars */
    --btn-dark-txt-clr: red;
    --btn-bg-clr: yellow;
    --btn


}
