.navbar-wrapper > nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
}
.navbar-wrapper > nav > ul{
  list-style: none;
}
.navbar-wrapper > nav > ul > li{
  display: inline;
  margin-left: 20px
}

/* page 404 css */
.page-404{
  display: flex;
  justify-content: center
}
.page-404 > img{
  height: 300px;
  width: 300px;
}

.red{
  color: red;
}
.black{
  color: black;
}


.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.user-card{
  width: 200px;
  background-color: #f1f1f1;
  padding: 12px; 
  border-radius: 12px;
  color: black
}
a{
  text-decoration: none
}